*{
    margin:0;
    padding:0;
}
body{
    background-color:#000000;
}
.container-1{
    background-color: #332C39;
    height:1200px;
    width:800px;
    margin:20px auto;

}
.Dhoni{
    width:300px;
    height:350px;
    margin-top: 10px;
    margin-left:250px;
}
.img-1{
   margin:10px auto;
}
.p{
    font-size:15px;
    font-family: Bookman;
    margin-bottom: 30px;
}
.text{
    font-size: 25px;
    font-family: Bodoni MT ,Tahoma, sans-serif;
    color:white;
    text-align: center;
}

.container-2{
    text-align: left;
    font-family: Verdana, Helvetica, sans-serif;
    margin-top:20px;
    margin-bottom:20px;
    margin-left: 20px;
    margin-right: 20px;
    color:white;
    font-size: 18px;
}


